<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	{% import "bootstrap/wtf.html" as wtf %}
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="#">DND Sheets</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href={{url_for('index')}}>Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href={{url_for('login')}}>Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href={{url_for('signup')}}>Signup</a>
					</li>
				</div>
			</div>
		</nav>

		<div class="container py-3">
			<h3>Welcome, {{current_user.username}}</h3>
			<p>Select a character, or create a new one.</p>

			<button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#createChar">Create</button>
			<button type="button" class="btn btn-danger mb-3">Delete</button>

			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Race</th>
						<th>Class</th>
						<th>Level</th>
					</tr>
				</thead>
				<tbody>
					{% for s in sheets %}
						<tr onclick="window.location='/sheets/{{s.sheet_id}}';">
							<td>{{s.char_name}}</td>
							<td>{{s.race}}</td>
							<td>{{s.char_class}}</td>
							<td></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

		<!-- MODAL -->
		<div class="modal fade" id="createChar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalCenterTitle">Setup Character</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form id="createChar" method="POST" action="/characters">
						<div class="modal-body">
							{{ form.hidden_tag() }}
							{{ wtf.form_field(form.char_name) }}
							{{ wtf.form_field(form.race) }}
							{{ wtf.form_field(form.char_class) }}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-success">Create</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</body>
	</html>